<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Waveform necklace</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.0.2/css/font-awesome.min.css" rel="stylesheet">
		<!--[if IE 7]>
	    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.0.2/css/font-awesome-ie7.min.css">
	    <![endif]-->
		<style>
			body {
				padding-top: 60px;
			}

			.btn-file {
				position: relative;
				overflow: hidden;
			}

			.btn-file input[type=file] {
				position: absolute;
				top: 0;
				right: 0;
				min-width: 100%;
				min-height: 100%;
				font-size: 100px;
				text-align: right;
				filter: alpha(opacity=0);
				opacity: 0;
				outline: none;
				background: white;
				cursor: inherit;
				display: block;
			}
		</style>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap-responsive.min.css" rel="stylesheet">

		<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
	      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	    <![endif]-->
	</head>

	<body>
		<a href="https://github.com/palfrey/waveform-necklace">
			<img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub">
		</a>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="hero-unit span8 offset2">
					<h1>Waveform necklace</h1>
					<p>by Tom Parker &lt;<a href="http://www.google.com/recaptcha/mailhide/d?k=01FWTnIpHg_Jbpu87-1oEftw==&amp;c=CRNVfAlM5vUXlHx7XBXMfCf236sDfaO8hRdJkkr8GDE=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501FWTnIpHg_Jbpu87-1oEftw\75\75\46c\75CRNVfAlM5vUXlHx7XBXMfCf236sDfaO8hRdJkkr8GDE\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;"
						title="Reveal this e-mail address">p...@tevp.net</a>&gt;
						<a href="http://tevp.net">http://tevp.net</a></p>
					<p>
						This app generates files for Laser cutters that let you assemble necklaces/bracelets that resemble the waveforms of audio files you feed into it. It's like <a href="http://www.instructables.com/id/Waveform-Necklace-Bracelet/">this Instructable</a>,
						but easier.
					</p>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span2 offset5">
					<form action="/upload-audio" method="POST" id="waveform-form" enctype="multipart/form-data">
						<span class="btn btn-large btn-block btn-primary btn-file">
							Browse for WAV file
							<input type="file" name="audio" accept="audio/x-wav" />
						</span>
						<span id="wavFile"></span>
						<button type="submit" class="btn btn-large btn-block btn-success" id="create">Create Laser cutter file</button>
					</form>
				</div>
			</div>
			<div class="row-fluid">
				<div class="row-fluid">
					<div class="alert alert-info">
						<b>Privacy policy:</b> there's no database behind here. Your audio files are temporarily stored to do the generation, but they're deleted before you get the response back. If you don't believe me,
						<a href="https://github.com/palfrey/waveform-necklace">
							<abbr title="Read The Friendly Source">RTFS</abbr>
						</a>.
					</div>
				</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
		<script>
			$('#create').on('click', function() {
				$(this).html('Uploading file...');
			});
			$(document).on('change', '.btn-file :file', function() {
				var input = $(this),
					numFiles = input.get(0).files ? input.get(0).files.length : 1,
					label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
				if (label != "")
					label = "Chosen WAV file is: " + label;
				$('#wavFile').html(label);
			});
		</script>
	</body>
</html>
